
<a href="#" class="close"><img src="public/images/close_button.png" class="close_button" title="Close Window" alt="Close" /></a>
    <h2>Login</h2>
    <form name="login" action="inc/peregister.php" method="post">
        <label class="label" for="pename">用户名: </label>
        <input type="text" name="pename" id="pename" size="24" />
        <br />
        <label class="label" for="pepass">密码: </label>
        <input type="password" name="pepass" id="pepass" size="24" />
        <br />
        <input type="checkbox" name="remember" id="remember" value="remember" />
        <span class="modalNote">记住我</span>
        <input type="hidden" name="formName" value="login" />
        <label class="label">&nbsp;</label>
        <input type="submit" value="登录" />
        <input type="reset" value="重置" />
    </form>




<!-- <section>
    <div class="login">
        <form class="" action="" method="post" autocomplete="off">
            <h2>欢迎注册</h2>
            <p><a href="#">回到主页</a></p>
            <p>
                <label for="username">用户名</label>
                <input type="text" name="username" id="username" placeholder="用户名">
                <button type="button" name="button">确认</button>
            </p>

            <p>
                <label for="password">密码</label>
                <input type="password" name="password" id="password" placeholder='用户密码' tabindex="3">
            </p>

            <p>
                <label for="pswcheck">密码确认</label>
                <input type="password" name="pswcheck" id="pswcheck" placeholder="密码确认">
            </p>

            <p>
                <input type="submit" name="submit" value="注册" tabindex="5">
            </p>
        </form>
    </div>
</section> -->
