    <a href="#" class="close"><img src="public/images/close_button.png" class="close_button" title="Close Window" alt="Close" /></a>
    <h2>Register</h2>
    <form name="register" action="" method="post">
        <label class="labelLong" for="username">注册名称: </label>
        <input type="text" name="username" id="username" size="24" />
        <span id="usernameError">名称已存在</span>
        <br />
        <label class="labelLong" for="password">注册密码: </label>
        <input type="password" name="password" id="password" size="24" />
        <br />
        <label class="labelLong" for="checkPwd">密码确认: </label>
        <input type="password" name="checkPwd" id="checkPwd" size="24" />
        <br />
        <label class="label" for="email">注册邮箱: </label>
        <input type="text" name="email" id="email" size="48" />
        <br />
        <!-- <h3>Photography Interests<span class="modalNote"> (choose all that apply)</span></h3>
        <table class="formTable">
            <tr>
                <td><input type="checkbox" name="interests[]" id="portrait" value="portrait" /><label class="labelCheckbox" for="portrait">Potrait</label></td>
                <td><input type="checkbox" name="interests[]" id="landscape" value="landscape" /><label class="labelCheckbox" for="landscape">Landscape</label></td>
                <td><input type="checkbox" name="interests[]" id="macro" value="macro" /><label class="labelCheckbox" for="macro">Macro</label></td>
                <td><input type="checkbox" name="interests[]" id="stilllife" value="stilllife" /><label class="labelCheckbox" for="stilllife">Still Life</label></td>
                <td><input type="checkbox" name="interests[]" id="corporate" value="corporate" /><label class="labelCheckbox" for="corporate">Corporate</label></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="interests[]" id="sports" value="sports" /><label class="labelCheckbox" for="sports">Sports</label></td>
                <td><input type="checkbox" name="interests[]" id="pets" value="pets" /><label class="labelCheckbox" for="pets">Pets</label></td>
                <td><input type="checkbox" name="interests[]" id="astronomy" value="astronomy" /><label class="labelCheckbox" for="astronomy">Astronomy</label></td>
                <td><input type="checkbox" name="interests[]" id="wildlife" value="wildlife" /><label class="labelCheckbox" for="wildlife">Wildlife</label></td>
                <td><input type="checkbox" name="interests[]" id="journalism" value="journalism" /><label class="labelCheckbox" for="journalism">Journalism</label></td>
            </tr>
        </table>
        <input type="hidden" name="formName" value="register" />
        <label class="label">&nbsp;</label><input type="submit" value="Register" /><input type="reset" value="Clear" />
        <p class="modalNote">您可以随时在个人账户设置中更新兴趣内容</p> -->
    </form>
